@import "variables";

.App {
  text-align: center;
  font-family: $fontFamily;
  background-repeat: no-repeat;
  background-position: top right;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
}
.menu-wrapper {
  background-color: #fff;
  border: solid 1px black;
}
