* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./assets/images/bg__btm-right.svg") right bottom no-repeat,
    url("./assets/images/bg__left.svg") left top no-repeat,
    url("./assets/images/bg__top-right.svg") top right no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
